# Misc
**desktop.ini
**.bat
**.lnk
**.url

# Reference classes
/Classes/src_*

# UI folder
/UI

# Screenshots and promotional images
/_Media

# Art folders
/Mesh

# Temporary audio storage
/Audio

# UPK files
/Unpublished*

# Zipped files
/__RELEASE